<h1 mat-dialog-title id="createRoleDialogHeader">{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="roleDialogFormGroup">
        <mat-form-field class="role-dialog-field">
            <mat-label>Input role name</mat-label>
            <input type="text"
                matInput
                formControlName="name"
                placeholder="Input role name"/>
            <mat-error *ngIf="roleDialogFormGroup.get('name').hasError('required')">
                Role name is <strong>required.</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="role-dialog-field" appearance="fill">
            <mat-label>Select permissions:</mat-label>
            <mat-select formControlName="selectedPermissions" multiple>
                <mat-option *ngFor="let permission of permissionList" [value]="permission.id">{{permission.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onApply()" [disabled]="!canApply" cdkFocusInitial>Apply</button>
</div>
